.cc-shadow{
  animation: shadow 1s forwards;
}

@keyframes shadow{
  from {
    filter: drop-shadow(0px 0px 4px rgba(198, 156, 96,0.1));
    text-shadow: 0px 0px 4px rgba(198, 156, 96,0.1);
  }
  to {
    filter: drop-shadow(0px 0px 4px rgba(198, 156, 96,0.3));
    text-shadow: 0px 0px 4px rgba(198, 156, 96,0.3);
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
  z-index:  10;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0,0,0,.1);
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c69c60;
  border-radius: 2px;
  transition: 1s;
  cusror: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #cead7e;
}

::-webkit-scrollbar-thumb:active {
  background: #a08051;
}